<!--Contenedor Contenido Pagina-->
<div class="contenedor py-3">

    <!--Titulo pagina-->
    <div class="container m-auto pb-2 bg-primary rounded-top">
        <h1 class="mt-5 py-4 text-center m ">Subir Contenido</h1>
    </div>
    <!--Contenedor Formulario-->
    <div class="container container pt-1 bg-secondary rounded-bottom">

        <!--Informacion del contenido-->
        <div>
            <h3 class="py-3 text-center text-white">Informacion del contenido</h3>
            <div class="contenedor py-3">
                <form #frmSubirContenido="ngForm" (ngSubmit)="onSubirContenido(frmSubirContenido)">
                    <!-- Texto -->
                    <div class="form-group">
                        <label for="inputNombreContenido" class="text-white ">Nombre del contenido</label>
                        <input type="text" name="nombre_CREA" class="form-control col-md-8" id="inputNombreContenido" placeholder="Nombre Contenido" required #nombreCREA="ngModel" [(ngModel)]="ContentREAService.selectedContenidoREA.nombre_CREA">
                    </div>
                    <div class="form-group">
                        <label for="inputDescripcionContenido" class="text-white">Descripcion del contenido</label>
                        <textarea class="form-control" name="descripcion_CREA" id="inputDescripcionContenido"
                            rows="4" required #descripcionCREA="ngModel" [(ngModel)]="ContentREAService.selectedContenidoREA.descripcion_CREA" placeholder="Descripcion ..."></textarea>
                    </div>
                    <!-- Selectores -->
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="inputMateria" class="text-white">Materia</label>
                            <select [(ngModel)]="materiaSelected" name="materia" id="inputMateria" class="form-control" ngModel required>
                                <!--<option selected [value]='0'>- Materia -</option>-->
                                <option *ngFor="let mater of materia" [value]="mater.id_materia">{{mater.nombre_materia}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputGrado" class="text-white">Grado</label>
                            <select [(ngModel)]="gradoSelected" name="grado" id="inputGrado" class="form-control" ngModel required>
                                <option *ngFor="let grad of grado" [value]="grad.id_grado">{{grad.nombre_grado}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputGrado" class="text-white">Tipo de Contenido</label>
                            <select [(ngModel)]="tipoContenidoSelected" name="tipoContenido" id="inputGrado" class="form-control" ngModel required>
                                <option *ngFor="let tipCon of tipoContenido" [value]="tipCon.id_tipoContenido">{{tipCon.nombre_tipoContenido}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <label for="inputMateria" class="text-white">Seleccionar Contenido</label>
                    <div class="input-group">
                        <div class="custom-file col-md-8">
                            <input type="file" class="custom-file-input" id="inputGroupFileContenido" aria-describedby="inputGroupFileAddon01" (change)="onFileChange($event)">
                            <label class="custom-file-label" for="inputGroupFile01">...</label>
                        </div>
                    </div>
                    <br>
                    <hr class="style2">
                    <br>
                    <!--Boton Crear Contenido-->
                    <div class="bg-secondary row pb-4 justify-content-md-center no-gutters">
                        <button class="btn bg-primary px-5 py-4 font-weight-bold" (click)="onSubirContenido()">Subir
                            Contenido
                        </button>
                    </div>
                </form>
                <hr class="style2">
            </div>
        </div>
    </div>
</div>