<div class="container my-5">
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card" style="height: 470px;">
                <div class="d-flex justify-content-center mb-5">
                    <div class="brand_logo_container">
                        <img src="assets/img/logo.png"
                            class="brand_logo" alt="Logo">
                    </div>
                </div>
                <div class="justify-content-center form_container mt-5">
                    <form #frmLogin="ngForm" >
                        <div class="input-group mb-3">
                            <input type="text" name="nombre_usuario" class="form-control input_user col-10 mx-auto" value="" placeholder="Usuario" ngModel required>
                        </div>
                        <div class="input-group mb-2">
                            <input type="password" name="contrasena" class="form-control input_pass col-10 mx-auto" value="" placeholder="Contraseña" ngModel required>
                        </div>
                    </form>
                </div>
                <div class="d-flex justify-content-center mt-4  login_container">
                    <a type="submit" name="button" class="btn ingresar_btn" (click)="onLoginDocente(frmLogin)">Ingresar</a>
                </div>
                <div class="d-flex justify-content-center mt-1 login_container">
                    <a type="submit" name="button" class="btn registrarce_btn" routerLink="/registroProfesor">Registrarce</a>
                </div>
                <div class="d-flex justify-content-center mt-1 login_container">
                    <a type="submit" name="button" class="btn invitado_btn">Invitado</a>
                </div>
                <div class="d-flex justify-content-center mt-1 login_container">
                    <a type="submit" name="button" class="btn admin_btn" (click)="onLoginAdmin(frmLogin)">Administrador</a>
                </div>
                <div class="mt-4">
                    <!--<div class="d-flex justify-content-center links">
                        <a href="#">Olvidastes tu contraseña?</a>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>