<app-header></app-header>

<!--Contenedor Contenido Pagina-->
<div class="contenedor" style="height: 515px;">

    <div class="container">
    
        <!-- Titulo Pagina Principal -->
        <div class="container m-auto pb-2 bg-info rounded-top">
            <h1 style="cursor:context-menu" class="mt-5 pt-4 text-center">Bienvenido a la Plataforma Smart FC</h1>
        </div>
    
        <!--Contenedor-->
        <div class="container pt-1 bg-secondary rounded-bottom" style="height: 250px;">
    
            <!--Parrafo de Informacion-->
            <div>
                <div class="contenedor pt-5">
                    <h3 style="cursor:context-menu" class="text-white">Hola Profesor {{nombreApellidoDocente}}</h3>
                    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus voluptatum
                        quam
                        possimus, nisi deleniti accusantium? In alias incidunt nihil reiciendis, perferendis
                        corrupti, dolor nobis eos veritatis error cum! Excepturi, enim?</p>
                </div>
            </div>
            <hr class="style4">
        </div>
    </div>

</div>
<!-- /.container -->

<app-footer></app-footer>