<app-header></app-header>

<!--Contenedor Contenido Pagina-->
<div class="contenedor py-3">
    
    <!--Titulo pagina-->
    <div class="container m-auto pb-2 bg-warning rounded-top">
        <h1 class="mt-5 pt-4 text-center">Borrar Actividad</h1>
    </div>
    <!--Contenedor Formulario-->
    <div class="container container pt-1 bg-secondary rounded-bottom">

        <!--Buscar Actividad-->
        <div>
            <div class="contenedor py-3">
                <form #frmBorrarActividad="ngForm" (ngSubmit)="onBorrarActividad(frmBorrarActividad)">
                    <div class="form-group">
                        <!--Barra busqueda-->
                        <br>
                        <div class="form-inline">
                            <input type="text" class="form-control col-md-8" id="inputTextoBusquedaActividad"
                                placeholder="Busqueda por nombre de la Actividad" [(ngModel)]="nombreActividadSelected" name="inputBusquedaActividad">
                        </div>
                    </div>
                    <label for="inputState" class="text-white">Filtros:</label>
                    <div class="form-row pb-3">
                        <!--Filtros-->
                        <div class="form-group col">
                            <label for="inputMateriaA" class="text-white">Materia</label>
                            <select [(ngModel)]="materiaSelectedA" id="inputMateriaA" name="materiaA" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let mater of materia" [value]="mater.id_materia">{{mater.nombre_materia}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputGradoA" class="text-white">Grado</label>
                            <select [(ngModel)]="gradoSelectedA" id="inputGradoA" name="gradoA" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let grad of grado" [value]="grad.id_grado">{{grad.nombre_grado}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputDocenteA" class="text-white">Profesor</label>
                            <select [(ngModel)]="docenteSelectedA" id="inputDocenteA" name="DocenteA" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let docen of docente" [value]="docen.id_docente">{{(docen.nombre_docente+" "+docen.apellido_docente)}}</option>
                            </select>
                        </div>
                    </div>
                    <!--Filtro Competencia-->
                    <div class="form-row pb-3">
                        <div class="form-group col">
                            <label for="inputDocenteA" class="text-white">Competencia</label>
                            <select [(ngModel)]="competenciaSelectedA" id="inputCompetenciaA" name="competenciaA" class="form-control" ngModel required>
                                <option selected></option>
                                <option *ngFor="let compe of competencia | filterCompetencia: nombreCompetenciaSelected:materiaSelectedA:gradoSelectedA" [value]="compe.id_competencia">{{(compe.nombre_competencia)}}
                                </option>
                            </select>
                            <!--el valor seleccionado es {{competenciaSelectedA}}-->
                        </div>
                        <div class="form-group col">
                            <label for="inputDocenteA" class="text-white">Buscador Competencia</label>
                            <input type="text" class="form-control col-auto" id="inputTextoBusquedaCompetencia" 
                                placeholder="Ingrese nombre competencia" [(ngModel)]="nombreCompetenciaSelected" name="inputBusquedaCompetencia">
                        </div>
                    </div>
                    <!--Tabla de Resultados-->
                    <label for="inputState" class="text-white">Resultados:</label>
                    <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar" style="width: 95%; height: 450px"> 
                        <!--Resultado-->
                        <div class="row-1" *ngFor="let actividad of actividadVisualizar | filterActividad: nombreActividadSelected:materiaSelectedA:gradoSelectedA:docenteSelectedA:competenciaSelectedA">
                            <div class="card mb-4 border-0"
                                style="max-width: 1440px;">
                                <div class="card-footer p-2 bg-warning rounded-top">
                                    <h5 class="card-title">{{actividad.titulo_actividad}}</h5>
                                </div>
                                <div class="row no-gutters border border-top-0 border-secondary">
                                    <div class="col-md-10"
                                        style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text ">Descripcion: {{actividad.descripcion_actividad}}.</p>
                                            <p class="card-text"><small class="text-muted">Materia: {{actividad.materia}}</small></p>
                                            <p class="card-text"><small class="text-muted">Grado: {{actividad.id_grado}}</small></p>
                                            <p class="card-text"><small class="text-muted">Competencia: {{actividad.competencia}}</small></p>
                                            <p class="card-text"><small class="text-muted">Profesor: {{actividad.docente}}</small></p>
                                        </div>
                                    </div>
                                </div>
                                <!--Boton borrar Actividad-->
                                <div class="card-footer bg-secondary row justify-content-md-center no-gutters" data-toggle="modal" data-target="#mimodalejemplo">
                                    <a class="btn bg-warning" (click)="saveDataActivity(actividad)">Borrar Contenido</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="style1">   
    </div>  
    
    <!-- Modal -->
    <div class="modal fade" id="mimodalejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmar Acción</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="modal-footer justify-content-md-center no-gutters">
                    <button type="button" class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal" (click)="deleteActividad()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>

<app-footer></app-footer>