<!--Contenedor Contenido Pagina-->
<div class="contenedor py-3">
    
    <!--Titulo pagina-->
    <div class="container m-auto pb-2 bg-warning rounded-top">
        <h1 class="mt-5 py-4 text-center m ">Borrar Actividad</h1>
    </div>
    <!--Contenedor Formulario-->
    <div class="container container pt-1 bg-secondary rounded-bottom">

        <!--Buscar Actividad-->
        <div>
            <div class="contenedor py-3">
                <form #frmBorrarActividad="ngForm" (ngSubmit)="onBorrarActividad(frmBorrarActividad)">
                    <div class="form-group">
                        <!--Barra busqueda-->
                        <label for="inputNombreActividad" class="text-white">Busqueda de Actividad</label>
                        <div class="form-inline">
                            <input type="text" class="form-control col-md-8" name="inputBusquedaActividad" id="inputTextoBusqueda" placeholder="Busqueda por nombre" required #busquedaNombreCREA="ngModel" [(ngModel)]="ContentREAService.selectedContenidoREA.nombre_CREA">
                            <button class="btn btn-info" value="Buscar" name="Buscar" type="submit">Buscar</button>
                        </div>
                    </div>
                    <label for="inputState" class="text-white">Filtros:</label>
                    <div class="form-row pb-3">
                        <!--Filtros-->
                        <div class="form-group col">
                            <label for="inputMateria" class="text-white">Materia</label>
                            <select [(ngModel)]="materiaSelected" name="materia" id="inputMateria" nombre="id_materia"
                                class="form-control" ngModel required>
                                <!--<option selected [value]='0'>- Materia -</option>-->
                                <option *ngFor="let mater of materia" [value]="mater.id_materia">{{mater.nombre_materia}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="inputGrado" class="text-white">Grado</label>
                            <select [(ngModel)]="gradoSelected" name="grado" id="inputGrado" nombre="id_grado"
                                class="form-control " ngModel required>
                                <option *ngFor="let grad of grado" [value]="grad.id_grado">{{grad.nombre_grado}}</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <select id="inputCompetencia" class="form-control">
                                <option selected>- Competencia -</option>
                                <option>1...</option>
                                <option>2...</option>
                                <option>3...</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <select id="inputProfesor" class="form-control">
                                <option selected>- Profesor -</option>
                                <option>1...</option>
                                <option>2...</option>
                                <option>3...</option>
                            </select>
                        </div>
                    </div>
                    <!--Tabla de Resultados-->
                    <label for="inputState" class="text-white">Resultados:</label>
                    <div class="col container p-4 my bg-light rounded table-wrapper-scroll-y my-custom-scrollbar" style="width: 95%; height: 450px"> 
                        <!--Resultado-->
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="card-footer p-2 bg-warning rounded-top">
                                    <h5 class="card-title">Nombre Actividad</h5>
                                </div>
                                <div class="row no-gutters border border-top-0 border-secondary">
                                    <div class="col-md-10" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text ">Descripcion: This is a wider card with supporting text below as a
                                                natural lead-in to
                                                additional content.
                                                This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Materia</small></p>
                                            <p class="card-text"><small class="text-muted">Grado</small></p>
                                            <p class="card-text"><small class="text-muted">Competencia</small></p>
                                            <p class="card-text"><small class="text-muted">Profesor</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-secondary row justify-content-md-center no-gutters" data-toggle="modal" data-target="#mimodalejemplo">
                                    <a href="#" class="btn bg-warning">Borrar Actividad</a>
                                </div>
                            </div>
                        </div>
                        <!--Resultado-->
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="card-footer p-2 bg-warning rounded-top">
                                    <h5 class="card-title">Nombre Actividad</h5>
                                </div>
                                <div class="row no-gutters border border-top-0 border-secondary">
                                    <div class="col-md-10" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text ">Descripcion: This is a wider card with supporting text below as a
                                                natural lead-in to
                                                additional content.
                                                This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Materia</small></p>
                                            <p class="card-text"><small class="text-muted">Grado</small></p>
                                            <p class="card-text"><small class="text-muted">Competencia</small></p>
                                            <p class="card-text"><small class="text-muted">Profesor</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-secondary row justify-content-md-center no-gutters" data-toggle="modal" data-target="#mimodalejemplo">
                                    <a href="#" class="btn bg-warning">Borrar Actividad</a>
                                </div>
                            </div>
                        </div>
                        <!--Resultado-->
                        <div class="row-1">
                            <div class="card mb-4 border-0" style="max-width: 1440px;">
                                <div class="card-footer p-2 bg-warning rounded-top">
                                    <h5 class="card-title">Nombre Actividad</h5>
                                </div>
                                <div class="row no-gutters border border-top-0 border-secondary">
                                    <div class="col-md-10" style="max-width: 840px;">
                                        <div class="card-body p-2">
                                            <p class="card-text ">Descripcion: This is a wider card with supporting text below as a
                                                natural lead-in to
                                                additional content.
                                                This content is a little bit longer.</p>
                                            <p class="card-text"><small class="text-muted">Materia</small></p>
                                            <p class="card-text"><small class="text-muted">Grado</small></p>
                                            <p class="card-text"><small class="text-muted">Competencia</small></p>
                                            <p class="card-text"><small class="text-muted">Profesor</small></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer bg-secondary row justify-content-md-center no-gutters" data-toggle="modal" data-target="#mimodalejemplo">
                                    <a href="#" class="btn bg-warning">Borrar Actividad</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="style1">   
    </div>  
    <!-- Modal -->
    <div class="modal fade" id="mimodalejemplo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Confirmar Acción</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> 
                </div>
                <div class="modal-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
                <div class="modal-footer justify-content-md-center no-gutters">
                    <button type="button" class="btn btn-default bg-warning font-weight-bold" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>
